body {
			background-color: #80ccff;
		}

		div {
			text-align: center;
			padding: 20px;
		}

		input {
			padding: 10px;
			border: 2px solid white;
			border-radius: 4px;
		}

		input[type=button] {
			margin: 20px;
			width: 35%;
			background-color: #0066cc;
			border: 2px solid white;
			color: white;
			border-radius: 4px;
			padding: 20px;
			font: normal bold 20px sans-serif;
		}

		input[type=text] {
			padding: 20px;
			width: 35%;
			font: normal bold 30px sans-serif;
			color: #0066cc;
		}

		span {
			font: normal bold 30px sans-serif;
			color: #0066cc;
		}