.search-result{
border-bottom: 1px solid #888;
border-left: 1px solid #888;
border-right: 1px solid #888;
width: 200px;
padding: 5px;
background-color: #fff;
cursor: pointer;
}

#search-output {
position: absolute;
z-index: 1;
}

.search-result:hover {
color: #eee;
background-color: #607D8B;
}

#search-box{
width: 200px;
margin-top: 8px;
}