body{
    background-color: #202a47;
      font-family: Arial, Helvetica, sans-serif;
          color:white;
}
.header{
    font-size: 2em;
    margin-left: 40px;
    margin-top : 20px;
}
.form-div{
    text-align: right;
    margin:50px 600px 50px 100px;
    width:50%;
}
label{
    line-height: 50px;
    margin-right: 40px;
    font-size: 20px;
}
input,select,textarea{
    height: 30px;
    width:300px;
    border-style: 1px solid;
    border-radius: 5px;   
    padding-left:30px;  
}
input:focus{
    outline: none;
}
input[type="radio"]{
    height: 20px;
    width: 25px;
    vertical-align: -5px;
}
select{
    width:300px;
}
.form-div .hosting{
    text-align: right;
    margin-right: 210px;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 16px;
}
.form-div .user-img,.email-img,.web-img,.edit-img{
     position:absolute;
     margin:18px 0px 0px 5px; 
     width:15px; 
     height:20px; 
}
.menu-img,.home-img,.phone-img{
     position:absolute;
     margin:20px 0px 0px 5px; 
     width:15px; 
     height:15px; 
}
textarea{
    vertical-align: top;
    margin:12px 0px 10px 0px;
    resize: none;
    height:60px;
    font-size: 15px;
}
.edit-img{
    margin:33px 0px 0px 5px;
      width:20px; 
     height:25px; 
}
input:invalid,select:invalid,textarea:invalid{
    border: 2px solid red;
}
input:placeholder-shown,textarea:placeholder-shown{
    border:none;
}
.hosting .radio{
    font-size: 15px;
     line-height: 25px;
}
.form-div .submit{
    width: 50%;
    text-align: left;
    margin-top: 10px;
    display: inline;
}
button{
  background-color: lightyellow;
  border:none;
  height: 40px;
  width: 100px;
  text-align: left;
    margin-right:200px ;
    margin-top: 20px;
    font-size: 20px;
    display: inline;
}
button:hover{
    background-color: yellow;
    cursor: pointer;
}
.form-div .send-img{
    position:absolute;
     margin:28px 0px 0px 75px; 
     width:20px; 
     height:25px; 

}
